@font-face {
    font-family: IRANSans;
    src: url('../fonts/IRANSans/IRANSansWeb_Light.woff') format('woff');
}

* {
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
}

.bg-gray {
    background-color: #404E67;
    color: #dcdcdc;
}

.pointer {
    cursor: pointer;
}

.bg-custom-yellow {
    background: -webkit-gradient(linear, left top, right top, from(#feb798), to(#fe9365));
    background: linear-gradient(to right, #feb798, #fe9365);
}

.bg-custom-green {
    background: linear-gradient(to right, #0df3a3, #0ac282);
}

.bg-custom-pink {
    background: linear-gradient(to right, #fe909d, #fe5d78);
}

.bg-custom-blue {
    background: linear-gradient(to right, #01dbdf, #01a9ac);
}

.font-size-12 {
    font-size: 12px;
}

.max-width-16-rem {
    max-width: 16rem;
}

.width-16-rem {
    width: 16rem;
}

.width-8-rem {
    width: 8rem;
}

.width-22-rem {
    width: 22rem;
}

.main-body table {
    font-size: .75rem;
}

.main-body {
    font-size: 0.8rem;
}

.max-height-2rem {
    max-height: 2rem;
}

.h-150px {
    height: 150px
}